alembic
aniso8601
blinker
click=
exceptiongroup
Faker
Flask
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
gunicorn
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
packaging
pluggy
pytest
python-dateutil
python-dotenv
pytz
six
SQLAlchemy
SQLAlchemy-serializer
tomli
typing_extensions
Werkzeug
flask-swagger-ui